.header{
	display: flex;
	justify-content:space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	background-color: aliceblue;
	height: 56px;
	box-sizing: border-box;
	padding: 0 20px;
}
.lessonlist{
	position: fixed;
	box-sizing: border-box;
	padding: 20px 20px 0 20px;
	width: 100%;
	top: 56px;
	text-align: center;
	z-index: 1000;
	background-color: aliceblue;
}
.lessonlist li{
	height: 46px;
	line-height: 46px;
	border-bottom: 1px solid #e3e3e3;
}
.page-wrap{
	
	position: fixed;
	width: 100%;
    overflow: scroll;
    box-sizing:border-box;
    top:55px;
	bottom: 56px; 
	
}
.scroll-con{
	 position: fixed;
	width: 100%;
	
}
.carousel img{
	width: 100%;
	height: auto;
}
.logo{
	width: 160px;
	height: auto;
}
.btn-box{
	text-align: center;
}
.btn-box button{
	-webkit-appearance: none;
	border: none;
	outline: none;
	display: inline-block;
	width: 200px;
	height: 50px;
	line-height: 50px;
	background-color: chocolate;
	font-size: 28px;
	
}
