*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
a{
 text-decoration: none;
 color: #666;	
}
input,button{
	-webkit-appearance: none
}
html,body,#root,.app{
	height: 100%;
	
}
.mhearder{
	
	width: 100%;
	height: 54px;
	background-color:aquamarine;
	display: flex;
	justify-content: center;
	align-items: center
}
.mhearder i{  
	position: absolute;
	left: 10px;
}
img{
	max-width: 100%;
	height: auto;
}